<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.kstories">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NowPlayingFavoritesActivity"></activity>
        <activity android:name=".user.ui.aboutus.AboutUsActivity" />
        <activity
            android:name=".user.UserWelcomeActivity"
            android:label="@string/title_activity_user_welcome"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".user.UserProfileActivity" />
        <activity android:name=".NowPlaying" />
        <activity android:name=".BrowseAllActivity" />
        <activity android:name=".user.FavoritesActivity" />
        <activity android:name=".user.UserPlayAudioActivity" />
        <activity android:name=".user.UserEditAudioDetailsActivity" />
        <activity android:name=".user.UserSavedAudioActivity" />
        <activity android:name=".user.UserAudioDetailActivity" />
        <activity android:name=".user.UserRecordAudioActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver android:name=".widget.FavoritesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_widget_provider_info" />
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>